/* Importando a fonte Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Oswald', sans-serif; /* Definindo a fonte Oswald */
  font-size: 100%;
  background-color: #fff;
}

/* Estilos para a seção de pré-venda */
.section-pre-venda {
  padding: 2%;
  background-color: #862b2a;
  color: #0f0f0f; /* Adicionando cor do texto para contraste */
}

.paragrafo-pre-venda {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}

/* Estilos para a seção de conteúdo */
.section-conteudo {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0f0f0f;  
  color: #fff; /* Adicionando cor do texto para contraste */
}

.div-texto-section-conteudo {
  padding: 5%;
  font-weight: 200;
}

h1{
  color: #862b2a;
}

.p-conteudo{
  margin-bottom: 14px;
  margin-top: 14px;
  font-weight: 100;
}

/* Estilos para a imagem */
img {
  max-width: 100%; /* Ajustando a imagem para diferentes tamanhos de tela */
  height: auto; /* Mantendo a proporção da imagem */
}

/* Estilos para o botão */
button {
  background-color: #862b2a;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  font-weight: bold;
  cursor: pointer;
}

/* Estilos para o texto de aviso */
.texto-aviso {
  text-align: center;
  text-decoration: underline;
  font-size: 24px;
  font-weight: bold;
}

/* Estilos para a div de instruções */
.div-instrucoes {
  padding: 18px;
  background-color: #0f0f0f;
  color: #fff;
  text-align: center;
  font-weight: 100;
}

/* Estilos para o parágrafo de instruções */
.p-intruscoes {
  text-align: center;
  color: #0f0f0f;
  padding: 8px;
}

/* Estilos para o rodapé */
.footer-hells {
  background-color: #862b2a;
  padding: 8px;
  text-align: center;
  font-size: small;
  font-weight: 100;
  color: #fff; /* Adicionando cor do texto para contraste */
}

/* Estilos para telas menores (Responsividade) */
@media (max-width: 750px) {
  .section-conteudo {
    flex-direction: column; /* Mudando a direção para coluna em telas menores */
  }
  img {
    width: 100%;
    height: auto; /* Ajustando a imagem para ocupar toda a largura */
  }
}